/* Untuk Tablet */
@media(max-width: 1000px) {
    .nav-list {
        display: block;
        padding-right: 0;
    }

    .menu-icon {
        display: none;
    }

    .nav-logo {
        padding-left: 20px;
        font-size: 12px;
    }

    .nav-list li {
        font-size: 14px;
    }

    /* Tablet Banner */
    .banner-text h3 {
        color: #6C63FF;
        font-size: 18px;
    }

    .banner-text h1 {
        font-size: 34px;
        font-weight: bold;
        margin-bottom: 25px;
    }

    .banner-text p {
        margin-bottom: 40px;
        line-height: 15px;
        font-size: 14px;
    }

    .banner-text {
        padding-left: 50px;
        flex: 50%;
    }

    .banner-img {
        flex: 50%;
        padding-right: 40px;
    }

    .banner-text a {
        padding: 10px 20px;
        font-size: 14px;
    }

    /* Tablet About */

    .about {
        margin: 150px 0 0 0;
        width: 100%;
        display: flex;
        /* height: 450px; */
    }

    .about-img {
        padding-left: 50px;
        flex: 50%;
    }

    .about-text {
        flex: 50%;
        margin: 0 40px 0 40px;
    }

    .about-text h3 {
        color: #6C63FF;
        font-size: 18px;
        margin-bottom: 10px;
    }

    .about-text h2 {
        font-size: 26px;
        margin-bottom: 15px;
    }

    .about-text p {
        margin-bottom: 35px;
        line-height: 15px;
        font-size: 14px;
    }

    .about-text a {
        padding: 10px 20px;
        font-size: 12px;
    }

    .about-text a:hover {
        padding: 10px 20px;
        font-size: 12px;
    }

    /* Tablet Team */
    .team {
        height: 500px;
    }

    .heading-team {
        padding-top: 50px;

    }

    .cards {
        width: 100%;
        /* margin: 0 30px; */
        margin: 0 auto;
        display: flex;
    }

    .card {
        flex: 50%;
        margin-top: 30px;
    }

    .card-img {
        position: relative;
        background-color: #fff;
        height: 200px;
        margin: 0 auto;
    }
    
    /* Tablet Key-Traits */   
    .container {
        padding-left: 40px;
        padding-right: 40px;
    }
   
   .heading h2 {
       padding: 60px 0px;
       font-size: 26px;
   }
      
   .trait-icon p {
       margin-bottom: 30px;
       font-size: 20px;
   }

   .trait-icon img {
       max-width: 80%;
       height: auto;
   }   
   
   .text-contents {
       font-size: 14px;
       margin-top: 15px;
       font-weight: normal;
       line-height: 1.5;
   }
      
   .trait {
       padding:20px
   }

    /* Tablet Experience */
    .exp-text h3 {
        color: #6C63FF;
        font-size: 18px;
    }

    .exp-text h2 {
        font-size: 26px;
        margin-bottom: 15px;
    }

    .exp-text p {
        margin-bottom: 40px;
        line-height: 15px;
        font-size: 14px;
    }

    .exp-text {
        padding-left: 50px;
        flex: 50%;
    }

    .exp-img {
        flex: 50%;
        padding-right: 40px;
    }

    .exp-text a {
        padding: 10px 20px;
        font-size: 14px;
    }

    /* Contact Section */
    .contact-txt h2 {
        font-size: 26px;
        margin-bottom: 15px;
    }

    .map {
        margin-left: 40px;
        height: 350px;
        margin-top: 20px;
        flex: 45%;
    }

    .form-contact {
        flex: 65%;
        display: block;
    }

    .form-contact .input {
        padding-top: 40px;
        padding-left: 20px;
    }

    .input input {
        width: 320px;
        height: 30px;
        margin-bottom: 15px;
    }

    .input textarea {
        width: 320px;
        height: 60px;
        margin-bottom: 20px;
    }

    .input p {
        margin-bottom: 10px;
        font-size: 12px;
    }
    
    .btn-submit {
        width: 320px;

    footer {
        padding: 20px 0 15px 40px;
    }
}



/* Untuk Smartphone */
@media all and (max-width: 670px) {
    .nav-list {
        display: none;
    }

    .menu-icon {
        display: block;
    }

    /* Tablet Banner */
    .banner-img {
        display: none;
    }

    .banner-text {
        padding-left: 30px;
        margin-right: 30px;
    }

    /* About Section */
    .about-img {
        display: none;
    }

    .about-text {
        margin: 0 30px;
        text-align: center;
    }

    /* Team Section */
    .team {
        height: 1000px;
    }

    .heading-team p {
        font-size: 14px;
    }

    .cards {
        width: 90%;
        /* margin: 0 30px; */
        margin: 0 auto;
        display: inline-block;
    }

    .card {
        width: 50%;
        margin-top: 30px auto;
    }

    .card-img {
        width: 90%;
        height: 200px;
        margin: 0 auto;
    }
    
    /* Key-Traits Section */ 
    .container {
        padding-left: 30px;
        padding-right: 30px;
    }
   
   .heading h2 {
       padding: 20px 0px;
       font-size: 26px;
   }
   
   .trait-icon p {
       margin-bottom: 15px;
       font-size: 16px;
   }
   
   .trait-icon img {
       max-width: 60%;
       height: auto;
   }

   .text-contents {
       font-size: 14px;
       line-height: 1.5;
   }
   
   .traits {
       display: flex;
   }
   
   .trait {
       flex: auto;
       margin: 0 auto;
       width: 100%;
       padding: 20px;
   }
   .key-traits {
       padding-bottom: 40px;
   }  

    /* Experience Section */
    .exp-img {
        display: none;
    }

    .exp-text {
        padding: 0;
        margin: 0 30px;
        text-align: center;
    }

    /* Contact Section */

    .contact {
        height: 900px;
    }

    .contact-content {
        display: block;
    }

    .map {
        width: 90%;
        margin: 0 auto;
    }

    .form-contact {
        width: 90%;
        margin: 0 auto;
    }

    .form-contact .input {
        padding-left: 10px;
    }
    
    .btn-submit {
        width: 100%;
    }

    /* Footer Section */

    footer {
        padding-left: 0;
        text-align: center;
    }


}
